[submodule "fakepass_x"]
	path = fakepass_x
	url = https://github.com/Oneloutre/fakepass_x
[submodule "tp_reseau_it4"]
	path = tp_reseau_it4
	url = https://github.com/Oneloutre/tp_reseau_it4
[submodule "Ethical_hacking"]
	path = Ethical_hacking
	url = https://github.com/Oneloutre/Ethical_hacking.git
[submodule "Ethical_Hacking_TP_1"]
	path = Ethical_Hacking_TP_1
	url = https://github.com/Oneloutre/Ethical_Hacking_TP_1
[submodule "TP_AD"]
	path = TP_AD
	url = https://github.com/Oneloutre/TP_AD
